* {
    margin: 0;
    padding: 0;
}

/* ------------------ Top navbar ------------------ */
.navbar-ul {
    display: inline-block;
    width: 100%;
    z-index: 1;
}

ul {
    list-style-type: none;  /* Strip the ul of the list styling */
    position: static;       /* Making the "ul div" static in a place */
    float: right;           /* Make it float to the right where its supposed to be */
    height: 50px;           /* Defining a heigh for it just to give it borders I guess*/ 
    width: 245px;           /* Defining the width of the "ul div" to limit how long will the nav bar be */ 
    padding-top: 10px;
}

li {
    position: relative;     /* This is so it'll be possible to move the li elements inside the ul*/ 
    display: inline-block;  /* Without this the nav bar is a vertical, this is to make it horizontal*/
    vertical-align: middle; /* Getting them in the middle of the l*/
    padding: 6px;           /* Padding the li items so they won't be too near of each other */
}

li a {
    position: relative;     /* This is so it'll be possible to move the li a elements inside the ul*/ 
    display: block;         /* li a elements are displayed as blocks and not lines (as in inline)*/ 
    text-decoration: none;  /* Takes out the text decoration (like the underline from being a link) */
    color: #404040;         
    font-size: small;
    font-family: Tahoma, sans-serif;
}

a:hover {    
    color:#585858;              /* hovering it changes it to a lighter gray */
    text-decoration: underline    /* by hovering it, it gets the underline effect of a link */
}

.icon {
    vertical-align: middle;  /* Alinha os íconesverticalmente no meio do li a*/
    opacity: .6;             /* Lower the opacity, making the icon looks gray */
}

.icon:hover{
    opacity: 1;              /* By hovering it, it makes the opacity go back to 1 and makes it look black again */ 
}

.avatar-img {
    border-radius: 50%;     /* Makes the avatar image (square) be a circle. */ 
    opacity: 1;             /* Garantindo que o efeito de hover dos dois icons (app e notifications)*/
}

.avatar-link {
    border-radius: 16px;    /* Getting the link to be a circle as the avatar image */
}

/* ------------------ Middle area  ------------------ */

html {
    min-height: 100%;
}

html body {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.flex-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-search {
    text-align: center;
}

.middle-search img {
    display: block;
    margin:auto;
    padding-bottom: 20px;
}

.search-bar input[type=text] {
    width: 550px;
    padding: 15px;
    border: 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.search-bar input[type=submit] {
    padding: 12px 22px 12px 22px;
    color: #686868;
    font-weight: bold;
    border: 0px solid;
    background-color: #F0F0F0;
}

.search-bar input[type=submit]:first-child {
    margin-right: 5px;
}

.search-bar input[type=submit]:link {
    text-decoration: none;
}

.search-bar input[type=submit]:active {
    text-decoration: none;
}

.search-bar input[type=submit]:hover {
    color: black;
    margin: -1px;
    border-color: #D0D0D0;
    border-width: 1px;
    border-radius: 3px;
}

.search-bar input[type=submit]:hover:first-child {
    color: black;
    margin-right: 4px;
    border-color: #D0D0D0;
    border-width: 1px;
    border-radius: 3px;
}


.search-bar input[type=submit]:visited {
    text-decoration: none;
}

.btn-group {
    padding-top: 30px;
}

/* ------------------ Fotter ------------------ */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F0F0F0;
    text-align: center;
    border-top-color: #E8E8E8;
    border-top-style: solid;
    border-top-width: 1px;
    padding-bottom: 13px;
    padding-top: 13px;
}

.footer a {
    color: #696969;
    font-size: small;
    font-family: Tahoma, sans-serif;
    padding-left: 10px;
    padding-right: 10px;

}

.footer a:link {
    text-decoration: none;
}

.footer a:visited {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a:active {
    text-decoration: underline;
}

.footer-right{
    float: right;
    padding-right: 20px;
}

.footer-left{
    float: left;
    padding-left: 20px;
}