
ul {
    list-style-type: none;  /* Strip the ul of the list styling */
    position: static;       /* Making the "ul div" static in a place */
    float: right;           /* Make it float to the right where its supposed to be */
    height: 50px;           /* Defining a heigh for it just to give it borders I guess*/ 
    width: 245px;           /* Defining the width of the "ul div" to limit how long will the nav bar be */ 
    margin: 0;
    padding: 0;
}

li {
    position: relative;     /* This is so it'll be possible to move the li elements inside the ul*/ 
    display: inline-block;  /* Without this the nav bar is a vertical, this is to make it horizontal*/
    vertical-align: middle; /* Getting them in the middle of the l*/
    padding: 6px;           /* Padding the li items so they won't be too near of each other */
}

li a {
    position: relative;     /* This is so it'll be possible to move the li a elements inside the ul*/ 
    display: block;         /* li a elements are displayed as blocks and not lines (as in inline)*/ 
    text-decoration: none;  /* Takes out the text decoration (like the underline from being a link) */
    color: #404040;         
    font-size: small;
    font-family: Tahoma, sans-serif;
}

a:hover{    
    color:#585858;              /* hovering it changes it to a lighter gray */
    text-decoration: underline /* by hovering it, it gets the underline effect of a link */
}

.icon {
    vertical-align: middle;  /* Alinha os íconesverticalmente no meio do li a*/
    opacity: .6;             /* Lower the opacity, making the icon looks gray */
}

.icon:hover{
    opacity: 1;              /* By hovering it, it makes the opacity go back to 1 and makes it look black again */ 
}

.avatar-img {
    border-radius: 50%;     /* Makes the avatar image (square) be a circle. */ 
    opacity: 1;             /* Garantindo que o efeito de hover dos dois icons (app e notifications)*/
}

.avatar-link {
    border-radius: 16px;    /* Getting the link to be a circle as the avatar image */
}
